:root {
    --link-color: #e880d3;
    --link-color-visited: #a62191;
    --background-color-header: #21897E;
    --background-color: #3BA99C;
    --text-color: #050505;
    --text-color-header: #202020;
}