:root {
    --link-color: #a40e86;
    --link-color-visited: #a4108e;
    --background-color-header: #21897E;
    --background-color: #3BA99C;
    --text-color: #050505;
    --text-color-header: #202020;
}